In [4]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
from scipy.stats import sem
import numpy as np

# Study data files
mouse_metadata = "Mouse_metadata.csv"
study_results = "Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata)
study_results = pd.read_csv(study_results)

# Combine the data into a single dataset
mouse_study_df = pd.merge(mouse_metadata, study_results, on="Mouse ID")
mouse_study_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [18]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

#Calculate the Summary Values
tumor_vol_mean = mouse_study_df['Tumor Volume (mm3)'].mean()
tumor_vol_median = mouse_study_df['Tumor Volume (mm3)'].median()
tumor_vol_variance = np.var(mouse_study_df['Tumor Volume (mm3)'], ddof = 0)
tumor_vol_std = mouse_study_df['Tumor Volume (mm3)'].std()
tumor_vol_sem = sem(mouse_study_df['Tumor Volume (mm3)'])

#Create the DataFrame
summary_df = pd.DataFrame({'Mean Volume':[round(tumor_vol_mean,2)], 'Median Volume':[round(tumor_vol_median,2)], 'Variance in Volume':[round(tumor_vol_variance,2)], 'St. Dev. of Volume':[round(tumor_vol_std,2)], 'SEM of Volume':[round(tumor_vol_sem,2)]})

#Print the DataFrame
summary_df

,Mean Volume,Median Volume,Variance in Volume,St. Dev. of Volume,SEM of Volume
0,50.45,48.95,79.07,8.89,0.2

In [ ]:
# Generate a bar plot showing number of data points for each treatment regimen using pandas

In [ ]:
# Generate a bar plot showing number of data points for each treatment regimen using pyplot

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

In [ ]:
# Calculate the final tumor volume of each mouse across four of the most promising treatment regimens. Calculate the IQR and quantitatively determine if there are any potential outliers.

In [ ]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

In [ ]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [ ]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

In [ ]:
# Calculate the correlation coefficient and linear regression model for mouse weight and average tumor volume for the Capomulin regimen